/GET.FlightBooking.API/obj
/GET.FlightBooking.API/.vs
/GET.FlightBooking.API/bin
/GET.FlightBooking.Data/obj
/GET.FlightBooking.Data/bin
/GET.FlightBooking.Domain/obj
/GET.FlightBooking.Domain/bin
/Zadatak.docx
